* {
    margin: 0, auto;
}

.status-upload {
    margin: 0, auto;
}

.blogCards {
    width: 400px;
    margin: 0, auto;
    margin-left: 1.5em;
    margin-right: 1.5em;
    max-width: 100%;
}

.addBlogInput {
    margin: 100px;
}

.jumbotron {
    background-image: url("../assets/birmingham_cityscape.png");
    background-size: cover;
}